<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ScnSideMenu.Forms" version="1.2.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="ScnViewGestures.Forms" version="1.3.6.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SlideOverKit" version="2.1.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Calculate" version="15.2.0.43" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.DataSource" version="15.2.0.43" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfChart" version="15.2.0.43" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfListView" version="15.2.0.43" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="XamForms.Controls.Calendar" version="1.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>