<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Xamarin.Calculate.IOS" version="15.2.0.43" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="15.2.0.43" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart.IOS" version="15.2.0.43" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfListView" version="15.2.0.43" targetFramework="xamarinios10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
</packages>